.form-control-upload {
  display: block;
  width: 100%;
  padding: 27px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primaryColor);
  background-color: var(--tertiaryColor);
  background-clip: padding-box;
  border: none;
  border-radius: 10px;
}

input#form-upload-button {
  display: none !important;
}
@media (max-width: 400px) {
  .mobile-center {
    text-align: center;
  }
}

input[type="file"] {
  font-family: Avenir-bold;
  color: transparent !important;
  outline: none !important;
}

.custom-file-input {
  display: block;
  width: 100%;
  padding: 27px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primaryColor);
  background-color: var(--tertiaryColor) !important;
  background-clip: padding-box;
  border: none;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select document";
  height: 100%;
  color: var(--primaryColor);
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 16px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: transparent;
}
